<?php

return [
    'acl' => [
        'use_database_storage' => false,
        'redirect_route' => [
//            'params' => [
//                'controller' => 'my_controller',
//                'action' => 'my_action',
//                'id' => '1',
//            ],
//            'options' => [
//                'name' => 'home',
//            ],
        ],
        'roles' => [
            'guest' => null,
            'user' => 'guest',
            'admin' => 'user',
        ],
        'resources' => [
            'allow' => [
                'Application\Controller\IndexController' => [
                    'index' => 'guest',
                ],
                'o0psCore\Controller\AuthenticationController' => [
                    'login' => 'guest',
                    'signUp' => 'guest',
                    'forgotPassword' => 'guest',
                    'confirmEmail' => 'guest',
                    'confirmEmailChangePassword' => 'guest',
                    'logout' => 'user',
                ],
                'o0psCore\Controller\UserController' => [
                    'profile' => 'user',
                    'editProfile' => 'user',
                    'changeEmail' => 'user',
                    'changePassword' => 'user',
                    'changeSecurityQuestion' => 'user',
                    'createUser' => 'admin',
                    'editUser' => 'admin',
                    'deleteUser' => 'admin',
                    'setUserState' => 'admin',
                ],

                'o0psCore\Controller\AdminController' => [
                    'index' => 'user',
                ],
                'Public Resource' => [
                    'view' => 'guest',
                ],
                'Private Resource' => [
                    'view' => 'user',
                ],
                'Admin Resource' => [
                    'view' => 'admin',
                ],
            ],
            'deny' => [
                'o0psCore\Controller\AuthenticationController' => [
                    'login' => 'user',
                    'signUp' => 'user',
                    'forgotPassword' => 'user',
                    'confirmEmail' => 'user',
                    'confirmEmailChangePassword' => 'user',
                ],
            ]
        ]
    ],
];
