<?php

return [
    'navigation' => [
        'o0psCms\LeftSidebar' => [
            [
                'label'     => 'Dashboard',
                'route'     => 'o0ps-cms',
                'resource'  => o0psCore\Controller\AdminController::class,
                'privilege' => 'index',
                'icon'      => 'icon s7-monitor',
            ],
            [
                'label'     => 'Users',
                'uri'       => '#/',
                'resource'  => o0psCore\Controller\UserController::class,
                'privilege' => 'createUser',
                'icon'      => 'icon s7-users',
                'pages'     => [
                    [
                        'label'     => 'List',
                        'route'       => 'o0ps-cms/listUser',
                        'resource'  => o0psCore\Controller\UserController::class,
                        'privilege' => 'index',
                    ],
                    [
                        'label'     => 'Create',
                        'route'     => 'o0ps-cms/createUser',
                        'resource'  => o0psCore\Controller\UserController::class,
                        'privilege' => 'createUser',
                    ],
                ],
            ],
            [
                'label'     => 'Rules',
                'uri'       => '#/',
                'resource'  => o0psCore\Controller\RuleController::class,
                'privilege' => 'index',
                'icon'      => 'icon s7-unlock',
                'pages'     => [
                    [
                        'label'     => 'Resources',
                        'route'       => 'o0ps-cms/rule/resources',
                        'resource'  => o0psCore\Controller\RuleController::class,
                        'privilege' => 'resources',
                    ],
                    [
                        'label'     => 'Privileges',
                        'route'       => 'o0ps-cms/rule/privileges',
                        'resource'  => o0psCore\Controller\RuleController::class,
                        'privilege' => 'privileges',
                    ],
                    [
                        'label'     => 'Role',
                        'route'       => 'o0ps-cms/rule/roles',
                        'resource'  => o0psCore\Controller\RuleController::class,
                        'privilege' => 'roles',
                    ],
                ],
            ],
        ],
    ],
];