<?php

return [
    'o0psCore' => [

        'login_redirect_route' => 'o0ps-cms',

        'logout_redirect_route' => 'o0ps-cms/login',

        'sender_email_address' => 'no-reply@example.com',

        'sender_email_name' => 'Admin',

        'save_mail' => true,

        'mail_path' => 'data\mail',

        'save_log' => true,

        'log_path' => 'data\logs\\',

        'enable_registration' => true,

        'confirm_email_registration' => true,

        'login_after_registration' => true,

        'default_error_template' => false,
    ],
];
